body {
    background-color: wheat;
    color: #000000;
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 100%;
    font-family: sans-serif;
  }
  
p {
    font-family: arial;
    font-size: 15px;
    color: white;
  }