// src/styles.scss

// Define custom color variables
$primary-color: #201E50;
$secondary-color: #393D63;
$background-color: #525B76;
$text-color: #C4F1BE;

// Override default colors
body {
    background-color: $primary-color;
    color: $text-color;
}

a {
    color: $primary-color;
    &:hover {
        color: $secondary-color;
    }
}

h1 {
    color: $text-color;
}

.bg-custom {
    background-color: $background-color;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#chart1, #chart2, #chart3 {
    width: 100%; // Ensure charts fit within their containers
    height: 100%; // Adjust height as needed
}